.sidebill{
    display: flex;
justify-content: space-between;  
}
.billing{
    position: sticky;
  top: 20px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 10px;
  z-index: 100;
}
.saveforlater{
  border: none;
  background-color: white  ;
  color: blue;
  text-decoration: underline;
}
/* .column{
  width: 100%;
} */

.basketcard{
  display: flex;
  flex-direction: row;

 gap: 30px;
}
.cardbody{
  width: 100%;
}

.column{
  width: 70%;
}

.basketimages{
  width:50%;
  object-fit: cover;
  height: 300px;
}
.billingandcart{
 justify-content: space-between;

}
.cartitems{
  width: 90%;
}
.maincart{
  display: flex;
  gap: 20px;
  width: 70%;
   justify-content: space-between;
}
.billing{
  width: 200px;
 
}
.cardbody{
  width: 100%;
}